:root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-base: 9px;
    --font-size-lg: 13px;
  
    /* Colors */
    --color-gray-100: #fbfbfb;
    --color-gray-200: #c3c3c3;
    --color-gray-300: #565656;
    --color-white: #fff;
    --color-blue: #9747ff;
    --color-indigo: #8b54ff;
  
    /* Gaps */
    --gap-xs: 1px;
    --gap-sm: 10px;
    --gap-md: 22px;
    --gap-lg: 40px;
  
    /* Paddings */
    --padding-2xs: 6px;
    --padding-xs: 8px;
    --padding-sm: 10px;
    --padding-md: 12px;
    --padding-lg: 15px;
    --padding-xl: 20px;
    --padding-2xl: 23px;
  
    /* border radiuses */
    --br-sm: 5px;
    --br-md: 25px;
  }
  
